<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>uytubeServidorWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>servlets.Home</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddRemoveVideo</servlet-name>
    <servlet-class>servlets.AddRemoveVideo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CambiarLista</servlet-name>
    <servlet-class>servlets.CambiarLista</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CambiarPerfil</servlet-name>
    <servlet-class>servlets.CambiarPerfil</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CambiarVideo</servlet-name>
    <servlet-class>servlets.CambiarVideo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Comentar</servlet-name>
    <servlet-class>servlets.Comentar</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConfirmarCambiarPerfil</servlet-name>
    <servlet-class>servlets.ConfirmarCambiarPerfil</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConfirmarCambiarVideo</servlet-name>
    <servlet-class>servlets.ConfirmarCambiarVideo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConfirmarCrearVideo</servlet-name>
    <servlet-class>servlets.ConfirmarCrearVideo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConfirmarLogin</servlet-name>
    <servlet-class>servlets.ConfirmarLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConfirmarSignUp</servlet-name>
    <servlet-class>servlets.ConfirmarSignUp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CrearLista</servlet-name>
    <servlet-class>servlets.CrearLista</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CrearVideo</servlet-name>
    <servlet-class>servlets.CrearVideo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListarCategorias</servlet-name>
    <servlet-class>servlets.ListarCategorias</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Perfil</servlet-name>
    <servlet-class>servlets.Perfil</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Seguir</servlet-name>
    <servlet-class>servlets.Seguir</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>servlets.SignUp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Valorar</servlet-name>
    <servlet-class>servlets.Valorar</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerCategoria</servlet-name>
    <servlet-class>servlets.VerCategoria</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerLista</servlet-name>
    <servlet-class>servlets.VerLista</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerVideo</servlet-name>
    <servlet-class>servlets.VerVideo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Buscar</servlet-name>
    <servlet-class>servlets.Buscar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddRemoveVideo</servlet-name>
    <url-pattern>/add-remove-video</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CambiarLista</servlet-name>
    <url-pattern>/cambiar-lista</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CambiarPerfil</servlet-name>
    <url-pattern>/cambiar-perfil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CambiarVideo</servlet-name>
    <url-pattern>/cambiar-video</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Comentar</servlet-name>
    <url-pattern>/comentar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmarCambiarPerfil</servlet-name>
    <url-pattern>/confirmar-cambiar-perfil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmarCambiarVideo</servlet-name>
    <url-pattern>/confirmar-cambiar-video</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmarCrearVideo</servlet-name>
    <url-pattern>/confirmar-crear-video</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmarLogin</servlet-name>
    <url-pattern>/confirmar-login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmarSignUp</servlet-name>
    <url-pattern>/confirmar-sign-up</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CrearLista</servlet-name>
    <url-pattern>/crear-lista</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CrearVideo</servlet-name>
    <url-pattern>/crear-video</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListarCategorias</servlet-name>
    <url-pattern>/listar-categorias</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Perfil</servlet-name>
    <url-pattern>/perfil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Seguir</servlet-name>
    <url-pattern>/seguir</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/sign-up</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Valorar</servlet-name>
    <url-pattern>/valorar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerCategoria</servlet-name>
    <url-pattern>/ver-categoria</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerLista</servlet-name>
    <url-pattern>/ver-lista</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerVideo</servlet-name>
    <url-pattern>/ver-video</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Buscar</servlet-name>
    <url-pattern>/buscar</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/errorPages/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/errorPages/500.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>